<div class="main-content">
<!-- Center pane begins -->
  <section class="center-pane">
  	<section class="container unipaper-blocks">
      <div class="about-us">
    		<h2 class="text-center">About Us</h2>
    	  <p>The University Paper is the voice of students.</p>
        <p>We've got hundreds of writers across the UK reporting on the stories that matter to them.</p>
        <p>From lecturer theatres to the sports fields via student bars, quads, nightclubs and gyms, there's nothing we don't cover.</p>
        <p>We've got newspapers going out to 16 cities and more than 50 universities across the UK plus a localised news site providing comprehensive coverage to the UK's 2.5million students.</p>
        <p>However, it all started on a much smaller scale at Nottingham Trent University in 2013 by student Chris Moss.</p>
        <p>The first edition was only 10,000 copies but was embraced by the student population.</p>
        <p>Following its success the paper was expanded to cover all the Nottingham universities and then Bristol’s.</p>
        <p>Now we have a rapidly growing team of professional journalists and editors at our London head office, who provide support (and the odd contact or two) to our hundreds of student reporters.</p>
        <p>We are dedicated to giving budding journalists the chance to produce stories in a professional environment and to a professional standard.</p>
        <p>Plus we’re committed to helping them along in their career in any way we can – be that improving their story writing or giving advice on what steps to take next.</p>
        <p>We’ve already got a number of our former writers in newsrooms up and down the country and we’re confident of getting many more.</p>
        <p>To sign up as a writer <a href="http://unipaper-writers.herokuapp.com/" target="_blank">click here.</a></p>
      </div>
  	</section>
  </section>
  <!-- Center pane ends -->
  <!-- Right pane begins -->
    <aside class="right-pane">
      <div class="container">
        <div class="hidden-xs">
          <div id='div-gpt-ad-1473939867799-0' style='height:600px; width:300px;margin:0 auto;'>
            <!-- HPU ad here -->
          </div>
        </div><br>
        <section class="container-fluid top-stories-content">
          <div class="vertical-rectangle-ad visible-xs">
          <div id='div-gpt-ad-1473939867799-1' style='height:600px; max-width:300px;margin: 0 auto;' >
            <!-- HPU Ad here -->
          </div>
          <div class="horz-divider"></div>
          </div>
          <br>
          <h2 class="top-stories-header">
            Most Popular
          </h2>
          <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule1.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule1.id">
            <a ng-if="topStoriesContent.horizontalModule1.slug" ui-sref="{{ topStoriesContent.horizontalModule1.type }}{{ topStoriesContent.horizontalModule1.slug ? '({slug: topStoriesContent.horizontalModule1.slug })' : '' }}">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
                <div class="headline-text">
                  {{ topStoriesContent.horizontalModule1.headline }}
                </div>
                <div class="writer-and-date-text">
                  {{ topStoriesContent.horizontalModule1.writerAndDate }}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
                <div class="article-image">
                  <img ng-src="{{ topStoriesContent.horizontalModule1.image }}" class="object-fit-cover" alt="{{ topStoriesContent.horizontalModule1.imageDescription }}"/>
                </div>
              </div>
            </a>
          </article>
          <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule2.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule2.id">
            <a ng-if="topStoriesContent.horizontalModule2.slug" ui-sref="{{ topStoriesContent.horizontalModule2.type }}{{ topStoriesContent.horizontalModule2.slug ? '({slug: topStoriesContent.horizontalModule2.slug })' : '' }}">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
                <div class="headline-text">
                  {{ topStoriesContent.horizontalModule2.headline }}
                </div>
                <div class="writer-and-date-text">
                  {{ topStoriesContent.horizontalModule2.writerAndDate }}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
                <div class="article-image">
                  <img ng-src="{{ topStoriesContent.horizontalModule2.image }}" class="object-fit-cover" alt="{{ topStoriesContent.horizontalModule2.imageDescription }}" />
                </div>
              </div>
            </a>
          </article>
          <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule3.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule3.id">
            <a ng-if="topStoriesContent.horizontalModule3.slug" ui-sref="{{ topStoriesContent.horizontalModule3.type }}{{ topStoriesContent.horizontalModule3.slug ? '({slug: topStoriesContent.horizontalModule3.slug })' : '' }}">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
                <div class="headline-text">
                  {{ topStoriesContent.horizontalModule3.headline }}
                </div>
                <div class="writer-and-date-text">
                  {{ topStoriesContent.horizontalModule3.writerAndDate }}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
                <div class="article-image">
                  <img ng-src="{{ topStoriesContent.horizontalModule3.image }}" class="object-fit-cover" alt="{{ topStoriesContent.horizontalModule3.imageDescription }}" />
                </div>
              </div>
            </a>
          </article>
          <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule4.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule4.id">
            <a ng-if="topStoriesContent.horizontalModule4.slug" ui-sref="{{ topStoriesContent.horizontalModule4.type }}{{ topStoriesContent.horizontalModule4.slug ? '({slug: topStoriesContent.horizontalModule4.slug })' : '' }}">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
                <div class="headline-text">
                  {{ topStoriesContent.horizontalModule4.headline }}
                </div>
                <div class="writer-and-date-text">
                  {{ topStoriesContent.horizontalModule4.writerAndDate }}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
                <div class="article-image">
                  <img ng-src="{{ topStoriesContent.horizontalModule4.image }}" class="object-fit-cover" alt="{{ topStoriesContent.horizontalModule4.imageDescription }}" />
                </div>
              </div>
            </a>
          </article>
          <div class="hidden-xs">
            <div id='div-gpt-ad-1473939867799-2' style='height:250px; width:300px; margin: 0 auto; '>
              <!-- MPU ad here -->
            </div>
          </div>
          <div class="visible-xs">
            <div id='div-gpt-ad-1473939867799-3' style='height:250px; width:300px; margin: 0 auto;'>
              <!-- MPU ad here -->
            </div>
          </div>
        </section>
      </div>
    </aside>
  <!-- Right pane ends -->
</div>
