<!-- Category header begins -->
<div class="category-heading win">
  <h1 class="heading-text">
    Win
  </h1>
</div>
<!-- Category header ends -->

<div class="main-content">
  <!-- Center pane begins -->
  <section class="center-pane">
  	<section class="container win-content">
  		<div class="horz-block-item image-module {{ winsContent.horizontalModule1.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule1.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule1.headline }}</p>
              <small>{{ winsContent.horizontalModule1.date }}</small>
              <md-button ng-if="winsContent.horizontalModule1.id" ui-sref="win({id: '{{ winsContent.horizontalModule1.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule1.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
  		</div>
  		<div class="horz-block-item image-module {{ winsContent.horizontalModule2.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule2.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule2.headline }}</p>
              <small>{{ winsContent.horizontalModule2.date }}</small>
              <md-button ng-if="winsContent.horizontalModule2.id" ui-sref="win({id: '{{ winsContent.horizontalModule2.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule2.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
  		<div class="horz-block-item image-module {{ winsContent.horizontalModule3.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule3.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule3.headline }}</p>
              <small>{{ winsContent.horizontalModule3.date }}</small>
              <md-button ng-if="winsContent.horizontalModule3.id" ui-sref="win({id: '{{ winsContent.horizontalModule3.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule3.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
  		<div class="horz-block-item image-module {{ winsContent.horizontalModule4.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule4.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule4.headline }}</p>
              <small>{{ winsContent.horizontalModule4.date }}</small>
              <md-button ng-if="winsContent.horizontalModule4.id" ui-sref="win({id: '{{ winsContent.horizontalModule4.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule4.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
  		<div class="horz-block-item image-module {{ winsContent.horizontalModule5.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule5.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule5.headline }}</p>
              <small>{{ winsContent.horizontalModule5.date }}</small>
              <md-button ng-if="winsContent.horizontalModule5.id" ui-sref="win({id: '{{ winsContent.horizontalModule5.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule5.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <div class="horz-block-item image-module {{ winsContent.horizontalModule6.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule6.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule6.headline }}</p>
              <small>{{ winsContent.horizontalModule6.date }}</small>
              <md-button ng-if="winsContent.horizontalModule6.id" ui-sref="win({id: '{{ winsContent.horizontalModule6.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule6.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <div class="horz-block-item image-module {{ winsContent.horizontalModule7.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule7.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule7.headline }}</p>
              <small>{{ winsContent.horizontalModule7.date }}</small>
              <md-button ng-if="winsContent.horizontalModule7.id" ui-sref="win({id: '{{ winsContent.horizontalModule7.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule7.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <div class="horz-block-item image-module {{ winsContent.horizontalModule8.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule8.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule8.headline }}</p>
              <small>{{ winsContent.horizontalModule8.date }}</small>
              <md-button ng-if="winsContent.horizontalModule8.id" ui-sref="win({id: '{{ winsContent.horizontalModule8.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule8.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <div class="horz-block-item image-module {{ winsContent.horizontalModule9.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule9.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule9.headline }}</p>
              <small>{{ winsContent.horizontalModule9.date }}</small>
              <md-button ng-if="winsContent.horizontalModule9.id" ui-sref="win({id: '{{ winsContent.horizontalModule9.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule9.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <div class="horz-block-item image-module {{ winsContent.horizontalModule10.image === '' ? 'module-without-image' : '' }}" ng-if="winsContent.horizontalModule10.id && showWinContent">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="horz-block-item-cont">
              <p>{{ winsContent.horizontalModule10.headline }}</p>
              <small>{{ winsContent.horizontalModule10.date }}</small>
              <md-button ng-if="winsContent.horizontalModule10.id" ui-sref="win({id: '{{ winsContent.horizontalModule10.id }}'})" class="btn btn-border">Enter</md-button>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img ng-src="{{ winsContent.horizontalModule10.image }}" alt="" class="object-fit-cover">
          </div>
        </div>
      </div>
      <br>
      <div class="visible-xs">
        <div id='div-gpt-ad-1473939867799-1' style='height:600px; width:300px;margin:0 auto;'>
          <!-- MPU ad here -->
        </div>
        <div class="horz-divider"></div>
      </div>

      <!-- Win view load more content area start -->
      <div ng-bind-html="loadMoreContent">
        
      </div>
      <!-- Win view load more content area end -->

      <!-- Win view load more button start -->
      <div class="text-center"><md-button ng-if="loadMoreCount === 0" class="btn btn-border" ng-click="loadMore()">LOAD MORE</md-button></div>
      <!-- Win view load more button end -->

  		<!-- Related Stories -->
      <div class="related-stories-panel" ng-if="relatedStoriesContent !== false && showWinContent">
        <h2 class="text-center">Related Stories</h2>
        <div class="story-tags" ng-if="relatedTags">
          <a ng-repeat="aTag in relatedTags" ui-sref="tag-results({tag: '{{ aTag }}'})" ng-bind-html="aTag"></a>
        </div>
        <div class="story-items">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="vertical-module entertainment" ng-if="relatedStoriesContent.horizontalModuleWithoutImage1.id">
                <a ng-if="relatedStoriesContent.horizontalModuleWithoutImage1.slug" ui-sref="{{ relatedStoriesContent.horizontalModuleWithoutImage1.type }}{{ relatedStoriesContent.horizontalModuleWithoutImage1.slug ? '({slug: relatedStoriesContent.horizontalModuleWithoutImage1.slug })' : '' }}">
                  <div class="headline">
                    <div class="headline-text ng-binding">
                      {{ relatedStoriesContent.horizontalModuleWithoutImage1.headline }}
                    </div>
                    <div class="writer-and-date-text ng-binding">
                      {{ relatedStoriesContent.horizontalModuleWithoutImage1.writerAndDate }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="vertical-module with-image {{ relatedStoriesContent.horizontalModule1.image === '' ? 'module-without-image' : '' }}" ng-if="relatedStoriesContent.horizontalModule1.id">
                <a ng-if="relatedStoriesContent.horizontalModule1.slug" ui-sref="{{ relatedStoriesContent.horizontalModule1.type }}{{ relatedStoriesContent.horizontalModule1.slug ? '({slug: relatedStoriesContent.horizontalModule1.slug })' : '' }}">
                  <div class="headline col-xs-6 col-sm-12">
                    <div class="headline-text ng-binding">
                      {{ relatedStoriesContent.horizontalModule1.headline }}
                    </div>
                    <div class="writer-and-date-text ng-binding">
                      {{ relatedStoriesContent.horizontalModule1.writerAndDate }}
                    </div>
                  </div>
                  <div class="article-image col-xs-6 col-sm-12">
                    <img ng-src="{{ relatedStoriesContent.horizontalModule1.image }}" class="object-fit-cover">
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="vertical-module sports" ng-if="relatedStoriesContent.horizontalModuleWithoutImage2.id">
                <a ng-if="relatedStoriesContent.horizontalModuleWithoutImage2.slug" ui-sref="{{ relatedStoriesContent.horizontalModuleWithoutImage2.type }}{{ relatedStoriesContent.horizontalModuleWithoutImage2.slug ? '({slug: relatedStoriesContent.horizontalModuleWithoutImage2.slug })' : '' }}">
                  <div class="headline">
                    <div class="headline-text ng-binding">
                      {{ relatedStoriesContent.horizontalModuleWithoutImage2.headline }}
                    </div>
                    <div class="writer-and-date-text ng-binding">
                      {{ relatedStoriesContent.horizontalModuleWithoutImage2.writerAndDate }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="vertical-and-no-image-module-container">
                <div class="vertical-module with-image {{ relatedStoriesContent.horizontalModule2.image === '' ? 'module-without-image' : '' }}" ng-if="relatedStoriesContent.horizontalModule2.id">
                  <a ng-if="relatedStoriesContent.horizontalModule2.slug" ui-sref="{{ relatedStoriesContent.horizontalModule2.type }}{{ relatedStoriesContent.horizontalModule2.slug ? '({slug: relatedStoriesContent.horizontalModule2.slug })' : '' }}">
                    <div class="headline col-xs-6 col-sm-12">
                      <div class="headline-text ng-binding">
                        {{ relatedStoriesContent.horizontalModule2.headline }}
                      </div>
                      <div class="writer-and-date-text ng-binding">
                        {{ relatedStoriesContent.horizontalModule2.writerAndDate }}
                      </div>
                    </div>
                    <div class="article-image col-xs-6 col-sm-12">
                      <img ng-src="{{ relatedStoriesContent.horizontalModule2.image }}" class="object-fit-cover">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Related Stories -->
  	</section>
  </section>
  <!-- Center pane ends -->

  <!-- Right pane begins -->
  <aside class="right-pane">
    <div class="container">
      <div class="hidden-xs">
        <div id='div-gpt-ad-1473939867799-0' style='height:600px; width:300px;margin:0 auto;'>
          <!-- HPU ad here -->
        </div>
      </div>
      <div class="top-stories-content">
        <div class="visible-xs">
            <div id='div-gpt-ad-1473939867799-3' style='height:250px; width:300px;margin:0 auto;'>
              <!-- MPU ad here -->
            </div>
          <div class="horz-divider"></div>
        </div>
        <br>
        <h2 class="top-stories-header">
          Most Popular
        </h2>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule1.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule1.id">
          <a ng-if="topStoriesContent.horizontalModule1.slug" ui-sref="{{ topStoriesContent.horizontalModule1.type }}{{ topStoriesContent.horizontalModule1.slug ? '({slug: topStoriesContent.horizontalModule1.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule1.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule1.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule1.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule2.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule2.id">
          <a ng-if="topStoriesContent.horizontalModule2.slug" ui-sref="{{ topStoriesContent.horizontalModule2.type }}{{ topStoriesContent.horizontalModule2.slug ? '({slug: topStoriesContent.horizontalModule2.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule2.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule2.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule2.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule3.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule3.id">
          <a ng-if="topStoriesContent.horizontalModule3.slug" ui-sref="{{ topStoriesContent.horizontalModule3.type }}{{ topStoriesContent.horizontalModule3.slug ? '({slug: topStoriesContent.horizontalModule3.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule3.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule3.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule3.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule4.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule4.id">
          <a ng-if="topStoriesContent.horizontalModule4.slug" ui-sref="{{ topStoriesContent.horizontalModule4.type }}{{ topStoriesContent.horizontalModule4.slug ? '({slug: topStoriesContent.horizontalModule4.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule4.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule4.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule4.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <div class="hidden-xs up-mb15">
          <div id='div-gpt-ad-1473939867799-2' style='height:250px; width:300px;margin: 0 auto;'>
            <!-- MPU ad here -->
          </div>
        </div>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule5.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule5.id">
          <a ng-if="topStoriesContent.horizontalModule4.slug" ui-sref="{{ topStoriesContent.horizontalModule5.type }}{{ topStoriesContent.horizontalModule5.slug ? '({slug: topStoriesContent.horizontalModule5.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule5.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule5.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule5.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule6.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule6.id">
          <a ng-if="topStoriesContent.horizontalModule6.slug" ui-sref="{{ topStoriesContent.horizontalModule6.type }}{{ topStoriesContent.horizontalModule6.slug ? '({slug: topStoriesContent.horizontalModule6.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule6.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule6.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule6.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule7.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule7.id">
          <a ng-if="topStoriesContent.horizontalModule7.slug" ui-sref="{{ topStoriesContent.horizontalModule7.type }}{{ topStoriesContent.horizontalModule7.slug ? '({slug: topStoriesContent.horizontalModule7.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule7.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule7.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule7.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
        <article class="container-fluid horizontal-module {{ topStoriesContent.horizontalModule8.image === '' ? 'module-without-image' : '' }}" ng-if="topStoriesContent.horizontalModule8.id">
          <a ng-if="topStoriesContent.horizontalModule8.slug" ui-sref="{{ topStoriesContent.horizontalModule8.type }}{{ topStoriesContent.horizontalModule8.slug ? '({slug: topStoriesContent.horizontalModule8.slug })' : '' }}">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-7 headline">
              <div class="headline-text">
                {{ topStoriesContent.horizontalModule8.headline }}
              </div>
              <div class="writer-and-date-text">
                {{ topStoriesContent.horizontalModule8.writerAndDate }}
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-5 article-image-container">
              <div class="article-image">
                <img ng-src="{{ topStoriesContent.horizontalModule8.image }}" class="object-fit-cover"/>
              </div>
            </div>
          </a>
        </article>
      </div>
    </div>
  </aside>
  <!-- Right pane ends -->
</div>
